# Problem 2
NIM/Nama : 19623034/Refki Alfarizi\
Tanggal  : 16 November 2023\
Deskripsi: Diberikan data harga rumah yang disewakan di Airbnb di Singapura. Tuliskan:
1. Ada berapa data dengan jumlah malam penyewaan minimumnya 1 namun banyaknya review di aplikasi
selama 12 bulan tidak 1?
2. Siapa nama pemilik rumah dengan banyaknya hari ketersediaan rumah dalam satu tahunnya terbanyak?
3. Ada berapa rumah di daerah (neighbourhood group) Central Region atau East Region dengan harga
rumah per malam di bawah 100?
4. Banyaknya rumah dengan review per bulan di atas 1 untuk tiap jenis penyediaan ruang.
5. 5 nama rumah berdasarkan banyaknya rumah yang disewakan oleh host terbanyak.

## Inisiasi Data

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("P05-03.csv")

In [3]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,49091,COZICOMFORT LONG TERM STAY ROOM 2,266763,Francesca,North Region,Woodlands,1.44255,103.79580,Private room,83,180,1,2013-10-21,0.01,2,365
1,50646,Pleasant Room along Bukit Timah,227796,Sujatha,Central Region,Bukit Timah,1.33235,103.78521,Private room,81,90,18,2014-12-26,0.28,1,365
2,56334,COZICOMFORT,266763,Francesca,North Region,Woodlands,1.44246,103.79667,Private room,69,6,20,2015-10-01,0.20,2,365
3,71609,Ensuite Room (Room 1 & 2) near EXPO,367042,Belinda,East Region,Tampines,1.34541,103.95712,Private room,206,1,14,2019-08-11,0.15,9,353
4,71896,B&B Room 1 near Airport & EXPO,367042,Belinda,East Region,Tampines,1.34567,103.95963,Private room,94,1,22,2019-07-28,0.22,9,355

## 1. Ada berapa data dengan jumlah malam penyewaan minimumnya 1 namun banyaknya review di aplikasi selama 12 bulan tidak 1?

### Jika jumlah review aplikasi selama 12 bulan adalah number_of_review :

In [62]:
df[(df['minimum_nights'] == 1) & (df['number_of_reviews'] != 1)].shape[0]

1841

### Jika jumlah review aplikasi selama 12 bulan adalah 12 kali reviews_per_month :

Buat kolom banyaknya review selama 12 bulan dengan menghitung banyaknya review per bulan dikali 12

In [60]:
df['reviews_in_a_year'] = df['reviews_per_month'] * 12

In [61]:
df[(df['minimum_nights'] == 1) & (df['reviews_in_a_year'] != 1)].shape[0]

2089

## 2. Siapa nama pemilik rumah dengan banyaknya hari ketersediaan rumah dalam satu tahunnya terbanyak?

In [20]:
df.loc[df['availability_365'].idxmax()].host_name

'Francesca'

## 3. Ada berapa rumah di daerah (neighbourhood group) Central Region atau East Region dengan harga rumah per malam di bawah 100?

In [39]:
df[((df['neighbourhood_group'] == 'Central Region') | (df['neighbourhood_group'] == 'East Region'))
  & (df['price'] < 100)].shape[0]

2429

## 4. Banyaknya rumah dengan review per bulan di atas 1 untuk tiap jenis penyediaan ruang

In [41]:
df[df['reviews_per_month'] > 1]['room_type'].value_counts()

Entire home/apt    873
Private room       681
Shared room         67
Name: room_type, dtype: int64

## 5. 5 nama rumah berdasarkan banyaknya rumah yang disewakan oleh host terbanyak

In [57]:
df.loc[df['calculated_host_listings_count'].idxmax()].host_id

66406177

Dari program di atas, dapat diketahui host dengan rumah yang disewakan terbanyak memiliki host_id 66406177

In [46]:
df[df['host_id'] == 66406177]['name'][:5]

2038    Humble & Conveniently Located 1BR in Katong Area
2192         Leisure Studio APT 5 mins from Tg Pagar MRT
2522    Humble & Conveniently Located 1BR in Katong Area
2523      BRAND NEW 2bedroom home at West Coast/Clementi
2524          Superhost 1BR APT in the heart of Tg Pagar
Name: name, dtype: object