In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("dataset.csv")

In [3]:
df.head()

,Unnamed: 0,Entity,Code,Continent,Year,No. of Internet Users,Internet Users(%),Cellular Subscription,Broadband Subscription
0,0,Afghanistan,AFG,Asia,1980,0,0.0,0.0,0.0
1,1,Afghanistan,AFG,Asia,1981,0,0.0,0.0,0.0
2,2,Afghanistan,AFG,Asia,1982,0,0.0,0.0,0.0
3,3,Afghanistan,AFG,Asia,1983,0,0.0,0.0,0.0
4,4,Afghanistan,AFG,Asia,1984,0,0.0,0.0,0.0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6888 entries, 0 to 6887
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              6888 non-null   int64
 1   Entity                  6888 non-null   object
 2   Code                    6888 non-null   object
 3   Continent               6888 non-null   object
 4   Year                    6888 non-null   int64
 5   No. of Internet Users   6888 non-null   int64
 6   Internet Users(%)       6888 non-null   float64
 7   Cellular Subscription   6888 non-null   float64
 8   Broadband Subscription  6888 non-null   float64
dtypes: float64(3), int64(3), object(3)
memory usage: 484.4+ KB


Berikut adalah penjelasan mengenai atribut/kolom pada dataset yang diberikan:

1.  **Entity**: Atribut ini menunjukkan nama entitas daerah atau negara yang direpresentasikan dalam baris data tersebut. Ini merupakan atribut kategorikal nominal, karena nilai-nilainya hanya merupakan label atau nama tanpa adanya tingkatan atau urutan tertentu. Contoh nilai: "Afghanistan", "Indonesia", "World".
    
2.  **Code**: Ini adalah kode representatif untuk setiap entitas atau negara. Sama seperti "Entity", atribut ini juga bersifat kategorikal nominal. Contoh nilai: "AFG" untuk Afghanistan, "IND" untuk Indonesia.
    
3.  **Continent**: Menunjukkan benua tempat negara berada. Atribut ini juga kategorikal nominal. Contoh nilai: "Asia", "Europe".
    
4.  **Year**: Menunjukkan tahun dari data yang dicatat. Ini adalah atribut kuantitatif diskrit karena nilainya adalah tahun-tahun tertentu. Range nilai tergantung pada data yang ada dalam dataset yaitu 1980-2020.
    
5.  **No. of Internet Users**: Jumlah pengguna internet pada tahun dan negara tertentu. Ini adalah atribut kuantitatif karena nilainya berupa angka yang dapat diukur. Range nilai tergantung pada data yang ada dalam dataset.
    
6.  **Internet Users (%)**: Persentase populasi yang menggunakan internet. Ini adalah atribut kuantitatif dengan nilai dalam bentuk persentase. Range nilai antara 0 dan 100.
    
7.  **Cellular Subscription**: Jumlah langganan seluler per 100 orang. Ini adalah atribut kuantitatif dengan nilai dalam bentuk persentase. Range nilai antara 0 dan nilai tertinggi dalam dataset.
    
8.  **Broadband Subscription**: Jumlah langganan broadband per 100 orang. Ini adalah atribut kuantitatif dengan nilai dalam bentuk persentase. Range nilai antara 0 dan nilai tertinggi dalam dataset.